.App {
  text-align: center;
}

.link {
  width: 20em;
  background-color: cadetblue;
}

html, body, #root, .pict {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
